@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HellixRegular";
  src: local("HellixRegular"), url("./assets/fonts/hellix/Hellix-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "HellixRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
